# Pastas de Build e Release
bin/
obj/

# Arquivos de configurações de usuário do Visual Studio / Rider
.vs/
.vscode/
*.user
*.userprefs
*.suo
.idea/

# Arquivos de Banco de Dados SQLite (MUITO IMPORTANTE)
*.db
*.db-shm
*.db-wal

# Arquivos de log e cache
*.log
[Dd]ebug/
[Rr]elease/

# Mac OS
.DS_Store